{% extends 'base.html' %}

{% block css_style %}
<link href="{{ url_for('static', filename='css/driver.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% for cat, msg in get_flashed_messages(True) %}
    <!-- <div class="flash {{cat}}">{{msg}}</div> -->

    <div id="toastDiv" class="position-fixed top-30 start-50 translate-middle-x p-3" style="z-index: 12">
    <div id="infoToast" class="toast hide text-white {{cat}} border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
        <strong class="me-auto">Информация</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        {{msg}}
        </div>
    </div>
    </div>
    {% endfor %}

    <h1>Водитель</h1>

	<a href="{{ url_for('driver.setup_drive') }}" class="btn btn-md btn-primary create-trip shadow-none">Создать поездку</a>
    
    <div class="content">
        <div class="blocks">
            <div class="active-trips p-3">
                <h3 class="">Активные поездки:</h3>

                <!-- <div class="border rounded bg-light mt-2">
                    <div class="head rounded text-muted p-1">
                        <a href="#" class="text-muted text-decoration-none">Имя фамилия</a>
                        <span class="text-dark" style="float: right;">Завтра 00:00</span>
                    </div>
                    <div class="mx-1">
                        <p><b>Откуда: </b>адрес</p>
                        <p><b>Куда: </b>адрес</p>
                        <a href="" class="btn btn-secondary btn-sm mx-2 shadow-none" style="float: right;">Подробнее</a>
                        <p class="text-secondary">Это описание это описание</p>
                    </div>
                </div> -->
                {% if trips %}
                    {% for i in range(trips|length) %}
                        <div class="border rounded bg-light mt-3 shadow-sm">
                            <div class="head rounded text-muted p-1">
                                <a href="#" class="text-dark text-decoration-none">Поездка</a>
                                <span class="text-dark" style="float: right;">{{ days[i] }} {{ trips[i].trip_time.strftime("%H:%M") }}</span>
                            </div>
                            <div class="mx-1">
                                <p><b>Откуда: </b>{{ trips[i].from_address }}</p>
                                <p><b>Куда: </b>{{ trips[i].to_address }}</p>
                                <a href="{{ url_for('driver.trip', trip_id=trips[i].trip_id) }}" class="btn btn-secondary btn-sm mx-2 shadow-none" style="float: right;">Подробнее</a>
                                <p class="text-secondary">
                                    {% if trips[i].description %}
                                        {{ trips[i].description }}
                                    {% else %}
                                        Описание отсутсвует
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="text-center">
                       <a href="{{ url_for('driver.active_trips') }}" class="btn btn-primary shadow-none mt-3"> <i class="material-icons but-icon">keyboard_double_arrow_down</i>  Посмотреть все</a>
                    </div>
                {% else %}
                    <p class="text-muted mt-3">Нет активных поездок</p>
                {% endif %}
            </div>

            <div class="history p-3">
                <h3 class="">История поездок:</h3>

                {% if history %}
                {% for i in range(history|length) %}
                    <div class="border rounded bg-light mt-3 shadow-sm">
                        <div class="head rounded text-muted p-1">
                            <a href="#" class="text-dark text-decoration-none">Поездка</a>
                            <span class="text-dark" style="float: right;">{{ history[i].trip_date.strftime("%d.%m.%Y") }} {{ history[i].trip_time.strftime("%H:%M") }}</span>
                        </div>
                        <div class="mx-1">
                            <p><b>Откуда: </b>{{ history[i].from_address }}</p>
                            <p><b>Куда: </b>{{ history[i].to_address }}</p>
                            <a href="{{ url_for('driver.trip', trip_id=history[i].trip_id) }}" class="btn btn-secondary btn-sm mx-2 shadow-none" style="float: right;">Подробнее</a>
                            <p class="text-secondary">
                                {% if history[i].description %}
                                    {{ history[i].description }}
                                {% else %}
                                    Описание отсутсвует
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
                <div class="text-center">
                    <a href="{{ url_for('driver.history') }}" class="btn btn-primary shadow-none mt-3">  <i class="material-icons but-icon" >keyboard_double_arrow_down  </i>  Посмотреть все</a>
                </div>
                {% else %}
                    <p class="text-muted mt-3">Нет истории</p>
                {% endif %}
            </div>
        </div>
        <!--<div class="statistic p-3">
            <h3 class="">Cтатистика:</h3>
            <p class="">Совершено поездок: </p>
            <p class="">Людей перевезено: </p>
        </div> -->
    </div>
{% endblock %}

{% block script %}
    <!-- Блок скрипта для выделения иконки в меню -->
    <script>    
        var link = document.getElementById("drive_link");
        link.classList.add("nav__link--active");
    </script>

    <!-- Тост -->
    <script>
        var option = {
            animation: true,
            delay: 3000
        }
        function showToast() {
            let toastAlert = document.getElementById("infoToast")
            let bsAlert = new bootstrap.Toast(toastAlert, option)
            bsAlert.show()
        }
        window.onload = showToast()
    </script>
    
    <script>
    // При большом экране изменим раположени тоста
    if (window.innerWidth >= 767) {
        var toastCont = document.getElementById("toastDiv")
        toastCont.classList.remove("start-50", "translate-middle-x")
        toastCont.classList.add("end-0")
    }
    </script>
{% endblock %}
