{% extends 'base.html' %}


{% block css_style %}
  <title>Создание поездки</title>
  <link  href="{{ url_for('static', filename='css/picker.css') }}" rel="stylesheet">
  <link  href="{{ url_for('static', filename='css/hints.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
  <div class="container">
      <div class="row">
        <div class="col">
          <div class="card shadow-sm mt-4 mb-3">
            <div class="card-header bg-transparent">
              <h2>Создание поездки</h2>
            </div>
            <div class="card-body">
              <form action="{{ url_for('driver.setup_drive') }}" method="post" autocomplete="off">
                <div class="container mb-4">
                  <div class="row">
                    <div class="col-md-2"><h5>Тип поездки</h5></div>
                    <div class="col-md-8">
                      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="tripType" id="btnradio1" autocomplete="off" value="1" onchange="changeAddressTitle(), safe_form_input()">
                        <label class="btn btn-outline-primary shadow-none" for="btnradio1">Домой</label>     
                        <input type="radio" class="btn-check" name="tripType" id="btnradio2" autocomplete="off" value="2" onchange="changeAddressTitle(), safe_form_input()" checked>
                        <label class="btn btn-outline-primary shadow-none" for="btnradio2">В город</label>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col-md-2"><h5 id = "addressSelectTitle">Куда</h5></div>
                    <div class="col-md-8">
                      <div id = "input_container" class="input-group mb-1">
                        <input id="addressInput" onkeypress="search()" onclick="search()" onchange="safe_form_input()" class="form-control autocomplete" aria-describedby="button-addon2" aria-label="Адрес" name="addressAuto" placeholder="Введите адрес" type="text" required/>
                        <button type="button" class="btn btn-light shadow-none" onclick="clear_input()">
                          <div class="nav__cont">
                          <i class="material-icons nav__icon" style="font-size: 18px;">clear</i>
                        </div></button>
                      </div>
                      <a href="{{ url_for('driver.maps') }}" id="openMapBtn" class="ml-2"> Выбрать на карте</a>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col-md-2"><h5>Когда</h5></div>
                    <div class="col-md-8">
                      <select id="tripDay" class="form-select form-select-md" onchange="safe_form_input()" name="day" aria-label=".form-select-sm example">
                        <option value="1">Сегодня</option>
                        <option selected value="2">Завтра</option>
                        <option value="3">Послезавтра</option>
                      </select>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col-md-2"><h5>Во сколько</h5></div>
                    <div class="col-md-8">
                      <input type="text" id="timepicker" class="form-control" name="timeRaw" data-bs-toggle="modal" placeholder='Выберите время' data-bs-target="#timePickerModal" required onkeyup="var yratext=/['\w', '\s']/; if(yratext.test(this.value)) this.value=''">
                      <div class="modal fade" id="timePickerModal" tabindex="-1" aria-labelledby="timePicker" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                          <div class="modal-dialog modal-dialog-centered ">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h4 class="modal-title" id="timePicker">Выберите время</h4>
                                      <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button> -->
                                  </div>
                                  <div class="modal-body">
                                      <div class="picker-container" style="max-width: 500px;"></div>
                                  </div>
                                  <div class="modal-footer">
                                    <div style="width: fit-content; margin-left: auto; margin-right: auto;">
                                      <!-- <button type="button" class="btn btn-secondary" style="width:90px" data-bs-dismiss="modal">Отмена</button> -->
                                      <button type="button" onclick="safe_form_input()" class="btn btn-primary shadow-none" style="width:90px" data-bs-dismiss="modal">Ок</button>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col-md-2"><h5>Число пассажиров</h5></div>
                    <div class="col-md-8">
                      <select id="passengersNum" class="form-select form-select-md" name="passengersNum" onchange="safe_form_input()" aria-label=".form-select-sm example">
                        <option value="1">1 пассажир</option>
                        <option selected value="2">2 пассажира</option>
                        <option value="3">3 пассажира</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div style="text-align: center;">
                  <input type="submit" class="btn btn-primary btn-lg mt-5 mb-4 shadow-none" value="Создать поездку">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}


{% block script %}
  <!-- Блок скрипта для выделения иконки в меню -->
  <script>    
      var link = document.getElementById("drive_link");
      link.classList.add("nav__link--active");
  </script>

  <!-- Логика страницы -->
  <script src="{{ url_for('static', filename='js/picker.js') }}"></script>
  <script src="{{ url_for('static', filename='js/startTripForm.js') }}"></script>
  <script src="{{ url_for('static', filename='js/geosearch.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
{% endblock %}