.idea/
.idea/*

lib/
lib/*

*.py[cod]
*.pyc

bin/
bin/*

share/
share/*

local/
local/*

include/
include/*

env/

.project
.pydevproject
.metadata/
.metadata/*

aguber_application.md

PodveziSosedaSource/set-env.sh
PodveziSosedaSource/migrations/
PodveziSosedaSource/migrations/*
PodveziSosedaSource/env/
PodveziSosedaSource/env/*

PodveziSosedaSource/Dockerfile
PodveziSosedaSource/docker-compose.yml
PodveziSosedaSource/env_var
