<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet"> <!--Bootstrap-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}"> <!--Иконка-->
    <title>Подвези соседа! - Подтвердите свою почту</title>

    <style>
        #letterTo {
            max-width: 400px; 
            margin-top: 150px;
        }
        /* На большом экране*/
        @media (min-width: 767px) {
            #letterTo {
                margin-top: 300px;
            }
        }
    </style>
</head>
<body class="bg-light">
    <div class="">
        <div id="letterTo" class="col bg-light text-dark rounded-3 shadow mx-auto p-4">
          <h2 class="text-center"><img class="p-1" src="{{ url_for('static', filename='imgs/logo.png')}}" />Подвези соседа!</h2>
          <p class="mt-4 ">На ваш адрес <span class="text-primary fw-bold">{{ email }}</span> отправлено письмо. Перейдите по ссылке в этом письмe, чтобы подтвердить вашу учетную запись. Если вы указали неверный адрес, исправьте его в настройках.</p>
          <div class="text-center"><a href="/settings" class="btn btn-secondary mt-2 ">Настройки</a></div>
        </div>
    </div>
</body>
</html>