{% extends 'base.html' %}

{% block css_style %}
<link href="{{ url_for('static', filename='css/profile.css')}}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/swupy.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="swup" class="content transition-fade">
        <div class = "ava-desc">
            <div class="avatar-block">
                <img src="{{ url_for('profiles.load_user_avatar', user_id=id) }}" id = "avatar" class="img-thumbnail rounded" />
                <h2>{{ name }}</h2>
                <button type="button" class="btn btn-light btn-rounded m-3"><i class="material-icons nav__icon mr-1 pd-0 fs-6" style="padding: 7px 6px;">chat</i>Написать</button>
            </div>
            <div class="description">
                <span id="Description" class = "infType">Описание: </span>
                <p id="Description-text">
                    {% if not description %}
                        <p class="text-muted">Пользователь не добавил описание</p>
                    {% else %}
                        {{ description }}
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="info-block">
            <div class="block-with-btn">
                <p><span class = "infType">id: </span>{{ id }}</p>
            </div>
            <p><span class = "infType">Email: </span>{{ email }}</p>
            <p><span class = "infType">Телефон: </span>{{ phone }}</p>
            <p><span class = "infType">Подтвержден: </span>{{ confirmed }}</p>
            <p><span class = "infType">Домашний адрес: </span>
                {% if not address %}
                <p class="text-muted">Пользователь не добавил адрес</p>
                {% else %}
                    {{ address }}
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- Блок скрипта для выделения иконки в меню -->
    <script>    
        var link = document.getElementById("profile_link");
        link.classList.add("nav__link--active");
    </script>

    <!-- Swup - плавные переходы -->
    <script src="{{ url_for('static', filename='js/swup.min.js')}}"></script>
    <script>const swup = new Swup();</script>
{% endblock %}