<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Вход</title>

    <link rel="manifest" href="{{ url_for('static', filename='pwa/manifest.json') }}"> <!--Манифест для работы PWA приложения-->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet"> <!--Bootstrap-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}"> <!--Иконка-->

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <link href="{{ url_for('static', filename='css/login.css')}}" rel="stylesheet">

  </head>
  <body class="text-center">
    <main class="form-sign">
      <div id="swup" class="transition-fade">
        <form action="{{ url_for('.login') }}" method="post" class="form-contact">
          <img class="mb-4" src="{{ url_for('static', filename='imgs/logo_high.png')}}" alt="" width="72" height="57">
          <div>
            <h1 class="h3 mb-3 fw-normal">Вход</h1>

            {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{cat}}">{{msg}}</div>
            {% endfor %}

            <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="psw" placeholder="Password">
            <label for="floatingPassword">Пароль</label>
            </div>

            <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="remainme"> Запомнить меня
            </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
            <br/><br/>
            <a href="{{ url_for('.register') }}" class ="switch_auth">Регистрация</a>
          </div>
        </form>
      </div>
    </main>
    <script type="text/javascript" src="/app.js"></script> <!--Сервис-воркер для PWA-->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/swup.min.js')}}"></script>
    <script>const swup = new Swup();</script>
  </body>
</html>